body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

canvas {
    background-color: #000;
    border: 3px solid #0f0;
    margin-top: 10px;
}
